
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
    color: #fff;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.container{
    margin: 0 auto;
    display: flex;
    margin: 4rem 1.5rem;
    flex-direction: column;
    border-radius: 10px;
}

.raduis-first{
    border-radius: 5px 5px 0 0;
}

.raduis-last{
    border-radius: 0 0 5px 5px;
}

.icon{
    width: 50px;
    margin-bottom: 1.5rem;
}

p{
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 5rem;
}

.color-yellow{
    color: hsl(31, 77%, 52%);
}

.color-light-green{
    color: hsl(184, 100%, 22%);
}

.color-green{
    color: hsl(179, 100%, 13%);
}

.bg-yellow{
    background-color: hsl(31, 77%, 52%);
}

.light-green{
    background-color: hsl(184, 100%, 22%);
}

.green{
    background-color: hsl(179, 100%, 13%);
}

.container-1{
    padding: 2rem 3rem;
}

button{
    background-color: white;
    padding: 1em 2em;
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    cursor: pointer;
}


@media screen and (min-width: 45em) {

    body{
        font-family: 'Lexend Deca', sans-serif;
        background-color: white;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container{
        margin: 0 auto;
        width: 65%;
        height: 70vh;
        background-color: white;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
    }

    .raduis-first{
        border-radius: 5px 0 0 5px;
    }
    
    .raduis-last{
        border-radius: 0 5px 5px 0;
    }

    .white{
        color: #fff;
    }

    p{
        font-weight: 200;
        margin-bottom: 5rem;
    }

    button{
        background-color: transparent;
        padding: 1em 2em;
        font-family: 'Lexend Deca', sans-serif;
        color: #fff;
        border-radius: 50px;
        border: 1px solid #fff;
        cursor: pointer;
    }
}